[Unit]
Description=Run Foundry health check hourly

[Timer]
Unit=foundry_healthcheck.service
OnBootSec=10min
OnUnitActiveSec=1h

[Install]
WantedBy=timers.target
